<!doctype html>
<html lang="{{ page.html_lang }}">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/guide/1_0.css" type="text/css">
	</head>

	<body >

		<nav id="navbar" class="navbar sticky-top px-3 mb-3">
			<div class="container-lg">
				<a class="nav-link" href="#"><span style="font-weight: bold">{{ page.title }}</span></a>
				<a class="nav-link" href="#options_bar">{{ page.navbar.options_bar }}</a>
				<a class="nav-link" href="#company_info">{{ page.navbar.company_info }}</a>
				<a class="nav-link" href="#assets">{{ page.navbar.assets }}</a>
				<a class="nav-link" href="#journal">{{ page.navbar.journal }}</a>
				<a class="nav-link" href="#report">{{ page.navbar.report }}</a>
			</div>
		</nav>

		<div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true">

			<section id="intro" class="p-2">
				<div class="container-lg">
					<div class="container">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-12 col-md-10">
									<p>
										{{ page.intro.text1 }}
									</p>	
								</div>
								<div class="col-md-1"></div>
							</div>
							<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-12 col-lg-4 p-3">
								<p>
									{{ page.intro.text2 }}
								</p>
							</div>
							<div class="col-12 col-lg-6">
								<picture>
									<source srcset="../../../img/guide/1_0/{{ page.html_lang }}/company_dark.png" media="(prefers-color-scheme: dark)">
									<img class="img-fluid" src="../../../img/guide/1_0/{{ page.html_lang }}/company.png" alt="{{ page.intro.image_alt }}" />
								</picture>		
							</div>
							<div class="col-lg-1"></div>
						</div>
					</div>
				</div>
			</section>

			<div id="options_bar" style="margin-bottom: 2em">&nbsp;</div>

			<section class="p-2">
				<div class="container-lg">
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<h3>{{ page.options_bar.title }}</h3>
						</div>
						<div class="col-1"></div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col col-md-8">
							<picture>
								<source srcset="../../../img/guide/1_0/{{ page.html_lang }}/options_bar_dark.png" media="(prefers-color-scheme: dark)">
								<img class="img-fluid" src="../../../img/guide/1_0/{{ page.html_lang }}/options_bar.png" alt="{{ page.options_bar.image_alt }}" />
							</picture>
							<hr class="image_underline" />
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<p class="p-1">
								{{ page.options_bar.text }}
							</p>
							<ul>
								<li>
									<span class="guide_li_title">{{ page.options_bar.item1.title }}</span>
									<span class="guide_li_text">{{ page.options_bar.item1.text }}</span>
								</li>
								<li>
									<span class="guide_li_title">{{ page.options_bar.item2.title }}</span>
									<span class="guide_li_text">{{ page.options_bar.item2.text }}</span>
								</li>
								<li>
									<span class="guide_li_title">{{ page.options_bar.item3.title }}</span>
									<span class="guide_li_text">{{ page.options_bar.item3.text }}</span>
								</li>
								<li>
									<span class="guide_li_title">{{ page.options_bar.item4.title }}</span>
									<span class="guide_li_text">{{ page.options_bar.item4.text }}</span>
								</li>
								<li>
									<span class="guide_li_title">{{ page.options_bar.item5.title }}</span>
									<span class="guide_li_text">{{ page.options_bar.item5.text }}</span>
								</li>
							</ul>
							<p>
								{{ page.options_bar.text2 }}
							</p>		
						</div>
						<div class="col-1"></div>
					</div>
				</div>
			</section>

			<div id="company_info" style="margin-bottom: 2em">&nbsp;</div>

			<section class="p-2">
				<div class="container-lg">
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<h3>{{ page.company_info.title }}</h3>
							<p>
								{{ page.company_info.text }}
							</p>
						</div>
						<div class="col-1"></div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col col-md-8">
							<picture>
								<source srcset="../../../img/guide/1_0/{{ page.html_lang }}/company_ceo_dark.png" media="(prefers-color-scheme: dark)">
								<img class="img-fluid" src="../../../img/guide/1_0/{{ page.html_lang }}/company_ceo.png" alt="{{ page.company.image_alt }}" />
							</picture>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</section>

			<div id="assets" style="margin-bottom: 2em">&nbsp;</div>

			<section class="p-2">
				<div class="container-lg">
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<h3>{{ page.assets.title }}</h3>
							<p>
								{{ page.assets.text }}
							</p>
						</div>
						<div class="col-1"></div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6">
							<picture>
								<source srcset="../../../img/guide/1_0/{{ page.html_lang }}/assets_dark.png" media="(prefers-color-scheme: dark)">
								<img class="img-fluid" src="../../../img/guide/1_0/{{ page.html_lang }}/assets.png" alt="{{ page.assets.image_alt }}" />
							</picture>
						</div>
						<div class="col-12 col-md-6">
							<picture>
								<source srcset="../../../img/guide/1_0/{{ page.html_lang }}/debts_dark.png" media="(prefers-color-scheme: dark)">
								<img class="img-fluid" src="../../../img/guide/1_0/{{ page.html_lang }}/debts.png" alt="{{ page.assets.debts.image_alt }}" />
							</picture>
						</div>
					</div>
				</div>
			</section>

			<div id="journal" style="margin-bottom: 2em">&nbsp;</div>

			<section class="p-2">
				<div class="container-lg">
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<h3>{{ page.journal.title }}</h3>
							<p>
								{{ page.journal.text1 }}
							</p>
						</div>
						<div class="col-1"></div>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col col-md-10">
							<picture>
								<source srcset="../../../img/guide/1_0/{{ page.html_lang }}/journal_dark.png" media="(prefers-color-scheme: dark)">
								<img class="img-fluid" src="../../../img/guide/1_0/{{ page.html_lang }}/journal.png" alt="{{ page.journal.image_alt }}" />
							</picture>
						</div>
						<div class="col-md-1"></div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<p>
								{{ page.journal.text2 }}
							</p>
						</div>
						<div class="col-1"></div>
					</div>
				</div>
			</section>

			<div id="report" style="margin-bottom: 2em">&nbsp;</div>

			<section class="p-2">
				<div class="container-lg">
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<h3>{{ page.report.title }}</h3>
							<p>
								{{ page.report.text1 }}
							</p>
						</div>
						<div class="col-1"></div>
					</div>
					<div class="row">
						<div class="col">
							<picture>
								<source srcset="../../../img/guide/1_0/{{ page.html_lang }}/report_dark.png" media="(prefers-color-scheme: dark)">
								<img class="img-fluid" src="../../../img/guide/1_0/{{ page.html_lang }}/report.png" alt="{{ page.report.image_alt }}" />
							</picture>
						</div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col">
							<p>
								{{ page.report.text2 }}
							</p>
						</div>
						<div class="col-1"></div>
					</div>
				</div>
			</section>

		</div>

		<div class="guide_footer text-center m-0 border-0">
			<p class="p-4">
				&copy; 2023 Kai &Ouml;zer
				<br/>
				Berlin, Germany
			</p>	
		</div>

	</body>

</html>
