body {
	background-color: $belanz_color_1;
	@media (prefers-color-scheme: dark) {
		background-color: $belanz_color_2;
	}
}

.navbar {
	color: $belanz_color_2;
	background-color: $belanz_color_3;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_1;
		background-color: $belanz_color_6;
	}
}

.navbar-brand {
	color: $belanz_color_2;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_1;
	}
}

.nav-link {
	color: $belanz_color_2;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_1;
	}
}

section {
	background-color: $belanz_color_1;
	@media (prefers-color-scheme: dark) {
		background-color: $belanz_color_2;
	}
	h3 {
		font-size: 1.6em;
		color: $belanz_color_5;
		text-align: center;
		@media (prefers-color-scheme: dark) {
			color: $belanz_color_8;
		}
	}
	p {
		color: $belanz_color_2;
		@media (prefers-color-scheme: dark) {
			color: $belanz_color_1;
		}
	}
	&.guide_section_type_2 {
		background-color: $belanz_color_3;
		@media (prefers-color-scheme: dark) {
			background-color: $belanz_color_6;
		}
	}
}

hr.image_underline {
	color: $belanz_color_2;
	height: 1px;
	margin: 0;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_1;
	}
}

.guide_li_title {
  font-style: italic;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_1;
	}
}

.guide_li_text {
  color: $belanz_color_4;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_8;
	}
}

.guide_footer {
	height: 100%;
  color: $belanz_color_8;
	background-color: $belanz_color_7;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
		background-color: $belanz_color_6;
	}
}

a {
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
		&:hover {
			color: $belanz_color_3;
		}
	}
}
