<!doctype html>
<html lang="de">

{% include head.html %}

<body>

  <div style="padding: 1em">
    <section>
      {{ content }}
    </section>  
  </div>

  {% include footer.html %}

</body>

</html>
