<!doctype html>
<html lang="de">

{% include head.html %}

<body>
  {% include app_banner.html %}
  {% include app_description.html %}
  {% include app_download.html %}
  {% include app_quickguide.html %}
  {% include app_features.html %}
  {% include app_opensource.html %}
  {% include footer.html %}
</body>

</html>
