<!doctype html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">
	<style>
		body {
			color: #272727;
			background-color: white;
			@media (prefers-color-scheme: dark) {
				color: #c6c6c6;
				background-color: black;
			}
		}
		h1 {
			font-size: 2em;
			color: black;
			@media (prefers-color-scheme: dark) {
				color: #e4e4e4;
			}
		}
		h2 {
			font-size: 1.6em;
			color: black;
			@media (prefers-color-scheme: dark) {
				color: #e4e4e4;
			}
		}
		h3 {
			font-size: 1.4em;
			color: black;
			@media (prefers-color-scheme: dark) {
				color: #e4e4e4;
			}
		}

		.navbar {
			color: black;
			background-color: #c7c7c7;
			@media (prefers-color-scheme: dark) {
				color: #c6c6c6;
				background-color: rgb(13, 16, 77);
			}
		}
	</style>
</head>

<body>

	<nav id="navbar" class="navbar sticky-top mb-3">
		<div class="container-md p-2">
			<a class="nav-link" href="#">{{ page.title.de }}</a>
			<a class="nav-link" href="#english">{{ page.title.en }}</a>
		</div>
	</nav>

	<section class="p-3">
		<div>
			{{ content }}
		</div>
	</section>

</body>

</html>
