#app_logo {
	vertical-align: middle;
	width: 4em;
	height: 4em;
	transform: translate(0, -0.1em)
}

#app_title {
	vertical-align: middle;
	margin-left: 0.1em;
	color: $belanz_color_5;
	font-size: 4em;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
	}
}

.app_description {
	font-size: 1.2em;
}

@media (min-width: $width-breakpoint-small) {
	#app_logo {
		width: 5.5em;
		height: 5.5em;
		transform: translate(0, -0.2em)
	}
	#app_title {
		font-size: 6em;
	}
	.app_description {
		font-size: 1.4em;
	}		
}

@media (min-width: $width-breakpoint-medium) {
	#app_logo {
		width: 6.5em;
		height: 6.5em;
	}
	#app_title {
		font-size: 7em;
	}
}

@media (min-width: $width-breakpoint-large) {
	#app_logo {
		width: 8em;
		height: 8em;
	}
	#app_title {
		font-size: 9em;
	}
}
