.heading-font {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
  
.body-font {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}
  
.alt-font {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
html {
    height: 100%;
    width: 100%;
}

////////////////////////////////////////////
  
body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
		background-color: white;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}
}

////////////////////////////////////////////

a {
	transition: color 0.25s ease-out;
	font-style: italic;
	text-decoration: none;
}

a.belanz_primary_1 {
	color: $belanz_color_7;
	transition: color 0.25s ease-out;
	&:hover, &:focus {
		color: $belanz_color_5;
	}
	@media (prefers-color-scheme: dark) {
		&:hover, &:focus {
			color: $belanz_color_3;
		}
	}
}

a.belanz_primary_2 {
	color: $belanz_color_3;
	transition: color 0.25s ease-out;
	&:hover, &:focus {
		color: $belanz_color_1;
	}
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
		&:hover, &:focus {
			color: $belanz_color_3;
		}
	}
}

a.belanz_secondary_1 {
	color: $belanz_color_5;
	transition: color 0.25s ease-out;
	&:hover, &:focus {
		color: $belanz_color_1;
	}
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
		&:hover, &:focus {
			color: $belanz_color_3;
		}
	}
}

////////////////////////////////////////////

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
    &.light {
      border-color: white;
    }
}

////////////////////////////////////////////

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
		color: $belanz_color_5;
}

@media (prefers-color-scheme: dark) {
	h1, h2, h3, h4, h5, h6 {
		color: $belanz_color_7;
	}
}

h2 {
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.2em;
}

////////////////////////////////////////////
 
p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

////////////////////////////////////////////

.belanz_primary_1 {
	color: $belanz_color_5;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
	}
}

.belanz_secondary_1 {
	color: $belanz_color_4;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_8;
	}
}

.belanz_primary_2 {
	color: $belanz_color_1;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_8;
	}
}

.belanz_secondary_2 {
	color: $belanz_color_8;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
	}
}

////////////////////////////////////////////

#download {
	display: flex;
	flex-direction: column;
  justify-content: center;
	&:hover {
		#download_icon {
			color: $belanz_color_1;
			@media (prefers-color-scheme: dark) {
				color: $belanz_color_3;
			}
		}
		#download_app_title {
			color: $belanz_color_1;
			@media (prefers-color-scheme: dark) {
				color: $belanz_color_3;
			}
		}
	}
}

#download_icon {
	width: 3em;
	height: 3em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 0.5em;
	transition: color 0.25s ease-out;
	color: $belanz_color_7;
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_5;
	}
}

#download_app_title {
	margin: auto;
	font-size: 1.5em;
	font-style: normal;
	transition: color 0.25s ease-out;
}

#download_mac_app_store {
	width: 9.75em;
	height: 2.5em;
	margin: 0.5em auto;
	border-radius: 0.4em;
	background-image: url("../img/mac_app_store_black_de.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: box-shadow 0.25s ease-out;
	&:hover {
		box-shadow: 0 0 1.0em 0.6em $belanz_color_1;
	}
	@media (prefers-color-scheme: dark) {
		&:hover {
			box-shadow: 0 0 0.6em 0.1em $belanz_color_3;
		}
	}
}

.test_page_indicator {
	position: absolute;
	z-index: 2;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	text-align: center;
	-webkit-text-stroke: 4px white;
	font-size: 8em;
	color: red;
	text-align: center;
}

////////////////////////////////////////////

.belanz_feature {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	h3 {
		font-size: 30px;
	}
}

////////////////////////////////////////////

.userguide {
	font-size: 1.5em;
	padding: 0.5em 0;
}

////////////////////////////////////////////

#opensource {
	padding: 1em 0;
}

#gitlab_logo {
	height: 2em;
	color: $belanz_color_8;
	transition: all 0.25s ease-out;
	&:hover {
		color: $belanz_color_1;
	}
	@media (prefers-color-scheme: dark) {
		color: $belanz_color_7;
		&:hover {
			color: $belanz_color_3;
		}
	}	
}

////////////////////////////////////////////

#mastodon_logo {
	height: 2em;
	margin-bottom: 1em;
	color: white;
	transition: color 0.25s ease-out;
	&:hover {
		color: $belanz_color_3;
	}
@media (prefers-color-scheme: dark) {
		color: $belanz_color_2;
	}	
}

////////////////////////////////////////////

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}
