section {
  padding: 0.5em 0;

	&.belanz_section_type_1 {
		background: $belanz_color_1;
		@media (prefers-color-scheme: dark) {
			background: $belanz_color_2;
		}
	}
	
	&.belanz_section_type_2 {
		background: $belanz_color_3;
		@media (prefers-color-scheme: dark) {
			background: $belanz_color_6;
		}
	}
	
	&.belanz_section_type_3 {
    color: $belanz_color_1;
		background: $belanz-color-7;
		@media (prefers-color-scheme: dark) {
			background: $belanz_color_6;
		}
	}
}

div {

	&.belanz_section_container_sm {
		max-width: 560px;
	}

	&.belanz_section_container_md {
		max-width: 720px;
	}

	&.belanz_section_container_lg {
		max-width: 920px;
	}

}
