// Bootstrap-compatible breakpoints
$width-breakpoint-small:  576px;
$width-breakpoint-medium: 768px;
$width-breakpoint-large:  992px;
$width-breakpoint-xl:    1200px;
$width-breakpoint-xxl:   1400px;

// Theme colors
$belanz_color_1: white;
$belanz_color_2: black;
$belanz_color_3: #e1e35c;
$belanz_color_4: #757575;
$belanz_color_5: #1f50be;
$belanz_color_6: #171455;
$belanz_color_7: #6183ea;
$belanz_color_8: #b3bfc6;
