<section class="belanz_section_type_2 text-center">
{% if page.is_test_page %}
	<div class="test_page_indicator">
    TEST
	</div>
{% endif %}
	<div class="container belanz_section_container_sm">
		<div class="row">
			<div class="col">
				<a href="https://gitlab.com/api/v4/projects/22782654/packages/generic/Belanz/{{ site.app_version }}/Belanz-{{ site.app_version }}.dmg">
					<div id="download">
						<svg id="download_icon" width="100%" height="100%" viewBox="0 0 40 40" version="1.1">
							<g id="layer1">
								<path style="fill: currentColor" id="box_with_arrow" width="38" height="38" x="1" y="1" rx="8" ry="8" d="M 8.487854 0.99993896 C 4.3396808 0.99993896 0.99993896 4.3895961 0.99993896 8.5999919 L 0.99993896 31.400151 C 0.99993896 35.610546 4.3396808 39.000203 8.487854 39.000203 L 31.512288 39.000203 C 35.660462 39.000203 39.000203 35.610546 39.000203 31.400151 L 39.000203 8.5999919 C 39.000203 4.3895961 35.660462 0.99993896 31.512288 0.99993896 L 25.999963 0.99993896 L 25.999963 11.999784 L 32.000114 11.999784 L 19.999813 27.999841 L 8.0000285 11.999784 L 14.000179 11.999784 L 14.000179 0.99993896 L 8.487854 0.99993896 z " />
							</g>
						</svg>
						<p id="download_app_title" class="belanz_primary_1">
							Belanz {{ site.app_version }}
						<p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div>
		<p style="font-size: smaller;">
			<span class="belanz_secondary_1" >{{ page.download.target_platforms }}</span>
			<br/>
			<br/>
			<a class="belanz_secondary_1" href="https://gitlab.com/belanz/belanz/-/releases">alle Versionen / all versions</a>
		</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="https://apps.apple.com/app/belanz/id1629873064">
					<div id="download_mac_app_store"></div>
				</a>		
			</div>
		</div>
	</div>
</section>
