
<section class="belanz_section_type_1">
  <div class="container belanz_section_container_lg">
    <div class="row">
			<div class="col-md-6">
				<div class="belanz_feature">
					<h3>{{ page.feature_1.title }}</h3>
					<p class="belanz_secondary_1">
						{{ page.feature_1.text }}
					</p>
				</div>
			</div>
			<div class="col-md-6">
        <div class="belanz_feature">
          <h3>{{ page.feature_2.title }}</h3>
          <p class="belanz_secondary_1">
						{{ page.feature_2.text }}
					</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="belanz_feature">
          <h3>{{ page.feature_3.title }}</h3>
          <p class="belanz_secondary_1">
						{{ page.feature_3.text }}
					</p>
      	</div>
      </div>
      <div class="col-md-6">
        <div class="belanz_feature">
          <h3>{{ page.feature_4.title }}</h3>
          <p class="belanz_secondary_1">
						{{ page.feature_4.text }}
					</p>
        </div>
      </div>
    </div>
  </div>
</section>
