<section class="belanz_section_type_1">
	<div class="container belanz_section_container_lg">
		<div class="row">
			<div class="col text-center">
				<img id="app_logo" src="../img/logo.svg" alt="Belanz logo">
				<span id="app_title">
					Belanz
				</span>	
			</div>
		</div>
	</div>
</section>
