<section class="belanz_section_type_1">
    <div class="container belanz_section_container_lg">
        <div class="row">
            <div class="col-1 col-md-2"></div>
            <div class="col-10 col-md-8">
                <div>
                    <p class="app_description belanz_primary_1">
                        {{ page.description.de }}
                    </p>
                    <p class="app_description belanz_secondary_1">
                        {{ page.description.en }}
                    </p>
                    <br/>
                </div>
								<div class="row" style="margin-bottom: 1em">
									<div class="col">
										<picture>
											<source srcset="img/fullscreen_macbook_dark.png" media="(prefers-color-scheme: dark)">
											<img class="img-fluid" src="../img/fullscreen_macbook.png">
										</picture>
									</div>
								</div>
            </div>
            <div class="col-1 col-md-2"></div>
        </div>
    </div>
</section>
