{% assign version_components = site.app_version | split: "." %}
{% assign major_minor_components = version_components | slice: 0,2 %}
{% assign short_version = major_minor_components | join: "." %}
<section class="belanz_section_type_3">
	<div class="container belanz_section_container_lg">
		<div class="row text-center">
			<div class="col-sm-2 col-md-3"></div>
			<div class="userguide col-sm-4 col-md-3">
				<a class="belanz_primary_2" href="guide/{{ short_version }}/de/index.html">
					<span style="padding: 0.1em">
						{{ page.get_started.de }}
					</span>
				</a>
			</div>
			<div class="userguide col-sm-4 col-md-3">
				<a class="belanz_primary_2" href="guide/{{ short_version }}/en/index.html">
					<span style="padding: 0.1em">
						{{ page.get_started.en }}
					</span>
				</a>
			</div>
			<div class="col-sm-2 col-md-3"></div>
		</div>
	</div>
</section>
