<section id="opensource" class="belanz_section_type_3 text-center">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<p class="belanz_secondary_2">
					{{ page.open_source }}
				</p>
				<a href="https://gitlab.com/belanz">
					<div id="gitlab_logo">
						<svg width="100%" height="100%" viewBox="140 108 680 280">
							<defs>
								<style>
									.logo {
										fill: currentColor;
									}
								</style>
							</defs>
							<g>
								<path class="logo" d="M427.52,171.51H450.3c-3.8-24.22-24.77-41.09-52.06-41.09-32.3,0-56.52,23.74-56.52,63.5,0,39.05,23.14,63.27,57.18,63.27,30.55,0,52.42-19.65,52.42-51.46V190.91H401.25v17.47h28.44c-.36,17.6-12.11,28.74-30.67,28.74-20.67,0-34.82-15.48-34.82-43.44,0-27.78,14.4-43.2,34.34-43.2C413.42,150.48,423.54,158.43,427.52,171.51Z"/>
								<path class="logo" d="M466.37,255.5h21.82V163H466.37Zm11-107.2c6.93,0,12.59-5.31,12.59-11.81s-5.66-11.87-12.59-11.87-12.65,5.3-12.65,11.87S470.35,148.3,477.34,148.3Z"/>
								<path class="logo" d="M553.5,163H535.24V140.78H513.43V163H500.3v16.87h13.13v51.46c-.12,17.41,12.53,26,28.92,25.49a44.29,44.29,0,0,0,12.84-2.17l-3.68-17.06a26.59,26.59,0,0,1-6.39.85c-5.48,0-9.88-1.93-9.88-10.73V179.82H553.5Z"/>
								<path class="logo" d="M570.38,255.5h76.7V236.76H592.73V132.1H570.38Z"/>
								<path class="logo" d="M688.85,257.37c14.53,0,23.2-6.81,27.18-14.58h.72V255.5h21V193.56c0-24.46-19.94-31.81-37.6-31.81-19.46,0-34.4,8.67-39.22,25.54l20.36,2.9c2.17-6.33,8.32-11.75,19-11.75,10.12,0,15.67,5.18,15.67,14.28v.36c0,6.26-6.57,6.57-22.9,8.31-18,1.93-35.12,7.29-35.12,28.14C657.89,247.73,671.2,257.37,688.85,257.37Zm7.18-16c-9.1,0-15.61-4.16-15.61-12.17,0-8.38,7.29-11.87,17.05-13.26,5.73-.78,17.17-2.23,20-4.51v10.9C717.48,232.6,709.16,241.34,696,241.34Z"/>
								<path class="logo" d="M753.81,255.5h21.45V240.92h1.26c3.44,6.75,10.61,16.21,26.51,16.21,21.82,0,38.14-17.3,38.14-47.78,0-30.85-16.81-47.6-38.2-47.6-16.32,0-23.13,9.82-26.45,16.51h-.9V132.1H753.81Zm21.39-46.27c0-18,7.71-29.59,21.75-29.59,14.52,0,22,12.35,22,29.59s-7.59,30-22,30C783,239.23,775.2,227.18,775.2,209.23Z"/>
								<path class="logo" d="M302,174.37l-.21-.56-21.2-55.3a5.5,5.5,0,0,0-2.18-2.63,5.6,5.6,0,0,0-8.41,3.2l-14.31,43.81H197.74l-14.31-43.81a5.61,5.61,0,0,0-8.41-3.2,5.5,5.5,0,0,0-2.18,2.63l-21.19,55.31-.22.55a39.36,39.36,0,0,0,13.06,45.49l.08.06.18.14L197,244.23l16,12.09,9.72,7.35a6.57,6.57,0,0,0,7.92,0l9.72-7.35,16-12.09,32.48-24.31.09-.07A39.36,39.36,0,0,0,302,174.37Z"/>
							</g>
						</svg>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
