<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/belanz.css">

</head>
